@mixin section-width {
  width: 70%;
  margin: 0 auto;
}

@mixin border-style {
    border: 1px solid $color-blue;
}

@mixin clearfix{
    &:before, &:after {
	    content: "";
	    display: block;
	}
	&:after {
	    clear: both;
	}
}