@mixin main {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: $font;
      }
}

@mixin tablet {
    @media screen and (max-width:950px){
        @content;
    }
}

@mixin mobile {
    @media screen and (max-width:450px){
        @content;
    }
}