@import "mixin";
header {
  nav {
    .left {
      @include phone {
        justify-content: flex-end;
      }

      img {
        @include phone {
          margin-right: 60px;
        }
      }
      .nav-left {
        @include phone {
          display: none;
        }
        input {
          @include tablet {
            width: 150px;
            margin: 0 12px;
          }
        }

        ul {
          li {
            a {
              @include tablet {
                padding: 0;
                font-size: 0.7rem;
              }
            }
          }
        }
      }
    }

    .right {
      @include phone {
        padding: 0;
      }
      img {
        @include tablet {
          height: 30px;
          width: 30px;
        }

        &:first-child {
          @include phone {
            display: none;
          }
        }
      }
    }
  }
}

main {
  @include phone {
    width: 100%;
    flex-direction: column;
  }
  aside {
    @include tablet {
      padding: 5px;
      width: 35%;
    }

    @include phone {
      width: 90%;
      margin: auto;
      background-color: $black-bg;
    }
    .heading {
      @include phone {
        padding-bottom: 0;
      }
      p {
        @include tablet {
          font-size: 1rem;
        }
      }
    }

    .recent-repo {
      @include tablet {
        padding: 15px;
      }
      @include phone {
        background-color: $black-repo;
        border: 2px $gray-dark solid;
        border-radius: 10px;
        margin-top: 30px;
        padding: 15px;
      }

      h2 {
        @include tablet {
          font-size: 1rem;
        }
      }

      .title {
        @include tablet {
          padding: 5px 0;
        }
        button {
          @include phone {
            display: none;
          }
        }
      }

      .person-repo {
        .box {
          p {
            @include tablet {
              font-size: 1rem;
            }
          }
          @include phone {
          }
          &:last-child {
            @include phone {
              border-bottom: 2px $gray-dark solid;
              margin-bottom: 10px;
            }
          }
        }
      }
    }

    .recent-activity {
      @include tablet {
        padding: 15px;
      }
      @include phone {
        background-color: $black-repo;
        border: 2px $gray-dark solid;
        padding: 10px;
        border-radius: 10px;
        margin-top: 30px;
      }

      h2 {
        @include phone {
          padding: 0;
        }
      }
      .box {
        p {
          @include tablet {
            font-size: 0.8rem;
          }
        }
      }
    }
  }
  .articles {
    @include tablet {
      width: 55%;
    }
    @include phone {
      width: 90%;
      margin: auto;
    }

    article {
      @include tablet {
        width: 100%;
      }
      @include phone {
        width: 97%;
        margin: 25px 0;
        height: 220px;
      }

      img {
        @include phone {
          width: 100px;
        }
      }
      .text {
        h2 {
          @include tablet {
            font-size: 1.5rem;
          }
          @include phone {
            font-size: 1.5rem;
          }
        }
        p {
          @include tablet {
            font-size: 0.8rem;
          }

          @include phone {
            font-size: 0.8rem;
          }
        }
      }
    }
  }

  .explore {
    @include tablet {
      display: none;
    }
  }
}
