@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

$black-bg: #010409;
$black-nav: #161b22;
$black-repo: #0d1117;
$white: #f0f6fc;
$gray-dark: #30363d;
$gray-light: #8b949e;

$green-btn: #238636;
$green-btn-border: #38914b;

$main-font: "Roboto", sans-serif;

// Aside
$pad: 20px 0;
