@import "mixin";
@import "var";

header {
  background-color: $black-nav;
  nav {
    display: flex;
    justify-content: space-between;

    .left {
      width: 70%;
      display: flex;

      img {
        height: 50px;
        width: 50px;
        background-color: $white;
        border-radius: 5px;
        margin: 10px;
      }

      .nav-left {
        display: flex;
        align-items: center;

        input {
          &:hover {
            transform: scale(1.2);
          }
        }

        ul {
          display: flex;

          li {
            transition: all 1s;
            &:hover {
              transform: scale(1.5);
            }
            a {
              color: $white;
              margin: 0 15px;
              padding: 5px 10px;
              transition: all 1s;

              &:hover {
                color: $black-nav;
                background-color: $white;
              }
            }
          }
        }
      }
    }

    .right {
      display: flex;
      align-items: center;
      padding-right: 50px;

      img {
        height: 50px;
        width: 50px;
        margin: 0 15px;

        &:hover {
          cursor: pointer;
          transform: scale(1.2);
          opacity: 0.5;
        }
      }
    }
  }
}

main {
  background-color: $black-bg;
  display: flex;
  aside {
    width: 25%;
    background-color: $black-repo;
    color: $white;
    display: flex;
    flex-direction: column;
    padding: 30px;
    margin-bottom: 150px;

    .heading {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      border-bottom: 2px $gray-dark solid;
      padding-bottom: 15px;

      img {
        width: 30px;
        height: 30px;
        margin-right: 10px;
      }

      p {
        font-size: 2rem;
      }
    }

    .recent-repo {
      display: flex;
      flex-direction: column;
      border-bottom: 2px $gray-dark solid;
      padding: $pad;

      .title {
        display: flex;
        justify-content: space-between;
        padding: $pad;

        button {
          background-color: $green-btn;
          border-color: $green-btn-border;
          color: $white;
          padding: 10px 15px;
          border-radius: 5px;
          font-family: $main-font;

          &:hover {
            cursor: pointer;
            opacity: 0.7;
          }
        }
      }

      input {
        width: 100%;
        margin: 0;
        padding: 5px;
        margin: 10px 0;
      }

      .person-repo {
        display: flex;
        flex-direction: column;

        .box {
          display: flex;
          align-items: center;

          p {
            font-weight: bold;
            font-size: 1.5rem;

            &:hover {
              cursor: pointer;
              opacity: 0.5;
            }
          }
        }
      }
    }

    .recent-activity {
      display: flex;
      flex-direction: column;

      h2 {
        padding-top: 15px;
      }
      .box {
        display: flex;
        align-items: center;

        p {
          font-weight: bold;
          font-size: 1.5rem;
          &:hover {
            cursor: pointer;
            opacity: 0.5;
          }
        }
      }
    }
  }

  .articles {
    width: 55%;

    article {
      display: flex;
      width: 90%;
      height: 300px;
      color: $white;
      background-color: $black-repo;
      margin: 20px 45px;
      border: 2px $gray-dark solid;
      padding: 15px;
      border-radius: 10px;
      transition: all 1s;

      &:hover {
        transform: rotateX(360deg);
        scale: 1.1;
      }

      img {
        width: 80%;

        margin-right: 15px;
      }
    }
  }

  .explore {
    width: 20%;
    padding: 25px;
    color: $white;
    display: flex;
    flex-direction: column;
    a {
      color: $white;
      margin-top: 40px;
      text-decoration: underline;
      font-weight: bold;
    }
    p {
      color: $gray-light;
    }
    .box {
      margin: 15px 0px;
    }
  }
}
@import "media";
