@import url("https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif&family=Shizuru&display=swap");

$mojfont: "Noto Serif", serif;
$mojDrugiFont: "Shizuru", cursive;

$svetlo_plava: rgba(171, 191, 240, 0.9);
$plava: #1b68df;
$zutaHover: rgba(234, 240, 155, 0.9);
$siva: rgb(247, 247, 247);
$crna: rgba(22, 22, 22);
