$color-red: #f38181;
$color-dark-blue: #374249;
$color-font: #797979;
$color-headings: #374249;
$color-lightgrey-one: #cfd1d3;
$color-lightgrey-two: #f3f7f9;
$margin-center: 0 auto;
$font-family: "Roboto", sans-serif;
$medium-width: 1080px;
$small-width: 768px;
$padding-sections: 30px;
