@import url('https://fonts.googleapis.com/css2?family=Luxurious+Roman&display=swap');

@import 'vars';
@import 'mixins';

@include main;

nav {
    background: $black_color;
    padding: 1em 2em;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .logo {
        display: flex;
        width: 10%;

        p {
            font-size: 2em;
        }

        img {
            width: 25%;
        }
    }

    ul {
        display: flex;
        list-style: none;
        flex-wrap: wrap;
        justify-self: end;

        li {
            a {
                text-decoration: none;
                margin-left: 2em;
            }
        }

        li:hover {
            background: $main_text_color;

            a {
                color: $black_color;
            }
        }
    }

    .profile {
        background: white;
        padding: 0.7%;
        border-radius: 20px;
        height: 2em;
        padding-top: 0.3em;

        a {
            color: $black_color;
            text-decoration: none;
        }
    }
}

header {
    background: url('../slike/background.jpeg');
    background-size: cover;
    height: 35em;
    width: 100%;
    padding: 7% 25%;

    form {
        margin: 0 auto;
        background: white;
        padding: 0.5em;
        border-radius: 40px;
        display: flex;
        align-items: flex-end;
        justify-content: space-evenly;
        flex-wrap: wrap;

        div {
            display: flex;
            flex-direction: column;
            align-items: center;

            label {
                color: $black_color;
                text-align: center;
            }

            input {
                display: block;
                height: 5em;
                border-radius: 35px;
                color: $black_color;
                border: 1px solid gray;
                padding: 0.5em;
            }
        }

        button {
            height: 5em;
            background: $red_color;
            color: white;
            border: none;
            padding: 2em;
            border-radius: 40px;
        }
    }
}

section {
    width: 100%;
    margin: 0 auto;
    text-align: center;

    h1 {
        color: $black_color;
        font-size: 3em;
        text-align: center;
        margin-bottom: 1em;
    }

    .destination {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;

        div {
            width: 30%;
            box-shadow: 2px 2px 5px $blue_color;
            border-radius: 25px;
            margin: 1em;
            padding: 1em;
            transition: transform 1s;

            img {
                width: 70%;
                height: 22em;
                border-radius: 25px;
                transition: transform 2s;
            }

            img:hover {
                transform: scale(1.3) rotate3d(0, 1, 0, 3.142rad);
            }

            p {
                font-size: 1.5em;
                color: $black_color;
            }
        }
    }
}

footer {
    background: $black_color;
    display: flex;
    padding: 2em 15%;
    flex-wrap: wrap;

    div {
        display: flex;

        p {
            font-size: 1.1em;
            vertical-align: top;
            margin: 1em;

            span {
                font-size: 1.3em;
            }
        }
    }
}

@include tablet {
    nav {
        .logo {
            width: 25%;
        }

        ul {
            width: 60%;
        }
    }

    header {
        padding: 7% 2%;

        form {
            margin-left: 1%;
            width: 98%;

            div {
                width: 22.5%;

                input {
                    width: 100%
                }
            }
        }
    }

    section {
        .destination {
            div {
                width: 39%;
            }
        }
    }

    footer {
        height: 33em;
        flex-direction: column-reverse;

        div,
        iframe {
            text-align: center;
            width: 100%;
        }

        div {
            p {
                text-align: left;
                width: 50%;
            }
        }
    }
}

@include mobile {
    nav {
        height: auto;

        .logo {
            position: absolute;
            top: 1em;
        }

        ul {
            width: 100%;
            text-align: center;
            margin-top: 2em;

            li {
                width: 100%;
                margin: 1.5em;
            }
        }

        .profile {
            position: absolute;
            right: 2em;
            top: 1em;
        }
    }

    header {
        form {
            div {
                display: block;
                padding: 0.5em;
                width: 100%;

                input {
                    width: 100%;
                }

                label {
                    text-align: left;
                }
            }

            button {
                width: 100%;
            }
        }
    }

    section {
        .destination {
            div {
                width: 90%;
            }
        }
    }

    footer {
        padding: 1em 2em;
    }
}